@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Reset e configurações básicas */
:root {
    --primary-color: #74999b;
    --secondary-color: #beb9b1;
    --accent-color: #376365;
    --variable-color: #606060;
    --text-color: #000;
    --font-family: 'Montserrat', sans-serif;
    --blue-color: #056c94;
    --light-blue-color: #a8d8ea;
    --dark-blue-color: #003049;
    --light-gray-color: #f0f0f0;
    --dark-gray-color: #333;
}

* {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    
}

.text-purple{
    color:#056c94;
}

.btn{
    background-color: var(--blue-color);
    display: inline-block;
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    border-radius: 2rem;
    transition: background-color 0.3s, color 0.3s;
    & a {
        color: #fff;
        text-decoration: none;
        border-radius: 2em;
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        -ms-border-radius: 2em;
        -o-border-radius: 2em;
        &:hover {
            
            color: #fff;
        }
    }
    &:hover {
        background-color: var(--dark-blue-color);
        color: #fff;
        
    }
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100svh;
    background-image: url('assets/d8ab4aee-6765-403b-ae7f-88fd18af525f.jpg.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    & .hero-content {
        padding-block: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100svw;
        height: 100%;
        padding: 2rem;
        text-align: center;
        background-color: #ffffff8c;

        & .hero-title {
            font-size: 3rem;
            color: var(--text-color);
            text-align: center;
            margin-bottom: 1rem;
            
        }
        & .hero-description {
            font-size: 1rem;
            color: #333333;
            margin-bottom: 2rem;
            max-width: 900px;
            line-height: 1.5;
            font-weight: 800;
            margin-bottom: 3em;
        }
    }
    
}
.about {
    & .container{
        & .about-grid{
            width: 100svw;
            height: 100svh;
            background-color: #000;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            gap: 2rem;
            text-align: center;
            & .features-grid{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 40svw;
                height: 100svh;
                padding: 1em;
               & img {
                
                border-radius: 60px;
                -webkit-border-radius: 60px;
                -moz-border-radius: 60px;
                -ms-border-radius: 60px;
                -o-border-radius: 60px;
                
}
            }
            & .about-text{
                color:#fff
            }
            & .about-paragraph{
                max-width: 30em;
                margin-block:1em;
                color: #fff;
            }
        }
    }
}
.oQueFaco{
    background-color: var(--secondary-color);
    padding: 2.2em;
    padding-inline: 5em;

    & .titulo-whatDo{
        font-size: 2.5em;
        margin-bottom: 1em;
        text-align: center;
    }
    & .container{
        display: flex;
        justify-content: space-around;
        gap: 2em;

        & .grid-item {
            position: relative;        /* Necessário para posicionamento absoluto do número */
            background-color: #fff;
            border-radius: 1.5em;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
            width: 30%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding: 3em 1em 1em 1em;  /* padding extra no topo para o número */
        }

        & .number {
            position: relative;
            top: 0.5em;
            left: 1em;
            font-size: 3em;
            color: var(--primary-color);
            font-weight: bold;
            margin: 0;
            }

            & img{
                height: 300px;
                margin-bottom: 2em;
                margin-top: 50px;
            }
            & h3{
                width: 70%;
                margin-bottom: 0.5em;
            }
            & p{
                width: 90%;
            }
    }
    & .button{
        display: flex;
        justify-content: center;
        margin-top: 2em;
    }
    
}
.livros {
    background-color: var(--dark-blue-color);
    padding: 2.2em;
    padding-inline: 5em;

    & .grid-livro {
        display: flex;
        justify-content: space-around;
        gap: 2em;
        align-items: center;

        

        & img {
            height: 500px;
            margin-bottom: 2em;
            margin-top: 50px;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
}
        & .descricao {
            color: #fff;
            text-align: center;
            border: #056c94 solid 1px;
            padding-inline: 2em;
            height: 500px;
            overflow-y: hidden;
            border-radius: 10px;
            width: 30%;
        }
        
        & h2 {
            width: 100%;
            font-size: 1.4rem;
            text-transform: uppercase;
            margin-bottom: 0.5em;
            margin-block: 1em;
        }
        
        & p {
            width: 100%;
            margin-block: 1.5em;
        }
    }
}

.curso-aboult {
    background-color: var(--dark-gray-color);
    color: #fff;
    padding: 2.2em;
    padding-inline: 5em;

    & h2 {
        text-align: center;
        margin-bottom: 1em;
        font-size: 2.5rem;
    }

    & span{
        color: var(--blue-color);
    }
    
    & .aboult-course {
        display: flex;
        justify-content: space-around;
        gap: 2em;
        height: 100svh;

        & span{
            color: #056c94;
        }

        & .item1{
            border-radius: 1.5em;
            background-image: url('assets/criança.png');
            background-size: contain;
            background-position: center;
            width: 95%;
            height: 87%;
            background-attachment: relative;
            background-repeat: no-repeat;
            margin-bottom: 2em;

            & p {
                font-size: 1rem;
                padding: 2em;
                font-size: 1.2em;
                font-weight: 600;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.6);
            }
        }
        & .item2{
            border-radius: 1.5em;
            background-image: url('assets/familia-conect.png');
            background-size: contain;
            background-position: center;
            width: 95%;
            height: 87%;
            background-attachment: relative;
            background-repeat: no-repeat;
            margin-bottom: 2em;

            & .separar{
                padding-block: 0.4em;
                
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                background-size: cover;
                & p {
                    font-size: 1rem;
                    padding: 2em;
                    font-size: 1.2em;
                    font-weight: 600;
                    & span{
                        text-transform: uppercase;
                        color: aquamarine;
                    }
                }
            }

        }
        & .item3{
            border-radius: 1.5em;
            background-image: url('assets/rect482.png');
            background-size: contain;
            background-position: center;
            width: 95%;
            height: 87%;
            background-attachment: relative;
            background-repeat: no-repeat;
            margin-bottom: 2em;

            & p {
                font-size: 1rem;
                padding: 2em;
                font-size: 1.2em;
                font-weight: 600;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.6);
                & span{
                    text-transform: uppercase;
                    color: aquamarine;
                }
            }
        }
    }
    & .meta{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2em;

        & img{
            width: 30em;
            height: auto;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
    }
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100svh;
    background-color: var(--light-gray-color);
    
    & .contato{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100svw;
        padding: 2em;
        border-radius: 1.5em;

        & h5 {
            font-size: 2.5rem;
            margin-bottom: 1em;
            text-align: center;
        }
        & p {
            font-size: 1.2rem;
            margin-bottom: 1em;
            text-align: center;
        }
        & input{
            width: 80%;
            padding: 0.5em;
            margin-bottom: 1em;
            border: 1px solid var(--primary-color);
            border-radius: 0.5em;
            font-size: 1rem;
        }
    }
}

.footer {
    background-color: var(--dark-blue-color);
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 1em;
    position: relative;
    bottom: 0;
    width: 100%;

    & .contato{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2em;
        & a {
            width: 100px;
            height: 100px;
            color: #fff;
            text-decoration: none;
            margin: 0 1em;
            
            transition: color 0.3s;

            &:hover {
                color: var(--light-blue-color);
            }
            & img{
                width: 50px;
                height: 50px;
                filter: brightness(100);
                -webkit-filter: brightness(100);
                &:hover{
                    filter: brightness(0);
                    -webkit-filter: brightness(0);
                }
            }
            
            }
            
        }
    }
    & .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    & .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 1em;
        & img {
            width: 100px;
            height: auto;
            margin-bottom: 1em;
        }
    & p {
        margin: 0;
        font-size: 1rem;
        }
    }
